[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
pyspark = "==3.0.1"

[dev-packages]
pytest = "*"
pytest-cov = "*"
black = "==20.8b1"
pre-commit = "*"
pytest-xdist = "*"
python-dotenv = "*"

[requires]
python_version = "3.9"
